<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= producto.title %></title>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/edit_product.css" />
  </head>
  <body>
    <!-- encabezado -->
    <%- include partials/header.ejs %>
    <div class="container">
      <form
        method="POST"
        enctype="multipart/form-data"
        action="/products/<%= producto.title %>"
        class="formProduct"
      >
        <section class="article-header">
          <div class="row">
            <div class="col-md-5 col-xs-12 article-photo">
              <div class="imagen-vacia">
                <img src="<%= producto.image %>" alt="" />
              </div>
              <div class="imagen-controls">
                <input type="file" id="img" name="img" accept="image/*" />
              </div>
            </div>
            <div class="col-md-6 col-xs-12 article-price">
              <div class="controls">
                <label for="nombre-producto">Nombre:</label>
                <input
                  type="text"
                  id="nombre-producto"
                  placeholder="Ingrese Nombre del producto"
                  class="product-name"
                  name="titleShow"
                  disabled
                  value="<%= producto.title %>"
                />
                <input
                  name="title"
                  type="text"
                  hidden
                  required
                  value="<%= producto.title %>"
                />
                <label for="precio-producto">Precio:</label>
                <input
                  type="text"
                  id="precio-producto"
                  placeholder="Ingrese Precio del producto"
                  class="product-price"
                  name="price"
                  required
                  value="<%= producto.price %>"
                />
                <label for="cantidad-producto">Cantidad:</label>
                <input
                required
                  type="number"
                  id="cantidad-producto"
                  placeholder="Ingrese cantidad disponible"
                  class="product-price"
                  name="amount"
                  value="<%= producto.amount || 0 %>"
                />
                <select name="category">
                  <% if (producto.category === 'Remeras') {%>
                  <option value="Remeras" selected>Remeras</option>
                  <% } else { %>
                  <option value="Remeras">Remeras</option>
                  <% } %> 
                  <% if (producto.category === 'Billeteras') {%>
                  <option value="Billeteras" selected>Billeteras</option>
                  <% } else { %>
                  <option value="Billeteras">Billeteras</option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </section>
        <section class="caracteristicas">
          <h3 class="subtitle">CARACTERISTICAS</h3>
          <div class="caracteristicas-content row">
            <dl class="caract-list col-xs-12 col-md-6">
              <dt>Genero:</dt>
              <dd>
                <input
                  type="text"
                  required
                  placeholder="Genero"
                  class="input-description"
                  name="productGender"
                  value="<%= producto.productGender %>"
                />
              </dd>
              <br />
              <dt>Altura:</dt>
              <dd>
                <input
                  type="number"
                  required
                  placeholder="Altura"
                  class="input-description"
                  name="height"
                  value="<%= producto.height || 0 %>"
                />
              </dd>
              <br />
              <dt>Cantidad de divisiones para tarjetas:</dt>
              <dd>
                <input
                  type="text"
                  required
                  placeholder="Ingrese cant. de divisiones"
                  class="input-description"
                  name="divisiones"
                  value="<%= producto.divisiones %>"
                />
              </dd>
              <br />
              <dt>Proteccion RFID:</dt>
              <dd>
                <input
                required
                  type="text"
                  placeholder="SI/NO"
                  class="input-description"
                  name="proteccionRFID"
                  value="<%= producto.proteccionRFID %>"
                />
              </dd>
              <br />
              <dt>Garantia:</dt>
              <dd>
                <input
                  type="text"
                  required
                  placeholder="Garantia"
                  class="input-description"
                  name="garantia"
                  value="<%= producto.garantia %>"
                />
              </dd>
              <br />
            </dl>
            <dl class="caract-list col-xs-12 col-md-6">
              <dt>Material:</dt>
              <dd>
                <input
                required
                  type="text"
                  placeholder="Material"
                  class="input-description"
                  name="material"
                  value="<%= producto.material %>"
                />
              </dd>
              <br />
              <dt>Ancho:</dt>
              <dd>
                <input
                required
                  type="number"
                  placeholder="Ancho"
                  class="input-description"
                  name="width"
                  value="<%= producto.width %>"
                />
              </dd>
              <br />
              <dt>Profundidad:</dt>
              <dd>
                <input
                required  
                type="number"
                  placeholder="Profundidad"
                  class="input-description"
                  name="deep"
                  value="<%= producto.deep %>"
                />
              </dd>
              <br />
              <dt>Monedero:</dt>
              <dd>
                <input
                required
                  type="text"
                  placeholder="SI/NO"
                  class="input-description"
                  name="money"
                  value="<%= producto.coin %>"
                />
              </dd>
              <br />
            </dl>
          </div>
        </section>
        <div class="productDescription row">
          <h3 class="subtitle">DESCRIPCION DEL PRODUCTO</h3>
          <textarea
          required
            class="textarea"
            name="productDescription"
            rows="10"
            cols="50"
          >
          <%= producto.description %>
        </textarea
          >
        </div>
        <div class="row confirmar-cancelar">
          <input type="button" value="CANCELAR" />
          <input type="submit" value="CONFIRMAR" />
        </div>
        <div class="errores">
          <ul></ul>
        </div>
      </form>
    </div>
    <script src="/script/validatorProducts.js"></script>
    <!-- Footer -->
    <%- include partials/footer.ejs %>
  </body>
</html>
